---
name: Trivy Scan
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    name: Build
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Security Scan
        if: github.ref != format('refs/heads/{0}', github.event.repository.default_branch)
        uses: aquasecurity/trivy-action@0.21.0
        with:
          scan-type: 'config'
          scan-ref: './examples/complete/'
          hide-progress: false
          exit-code: '1'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'
